<section id="container">
        <h1>{{ nombre }}</h1>
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="Ciclo">
                <el-select v-model="formInline.ciclo" placeholder="Selecciona una opción">
                    <el-option label="Ciclo Basico Común" value="Ciclo basico común"></el-option>
                    <el-option label="Ciclo de Formación General" value="Ciclo de formación General"></el-option>
                    <el-option label="Ciclo de Formación Profesional" value="Ciclo de Formación Profesional">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Año">
                <el-input-number type="number" v-model="formInline.año"></el-input-number>
            </el-form-item>

            <el-form-item label="Cuatrimestre">
                <el-select v-model="formInline.cuatrimestre" placeholder="Selecciona una opción">
                    <el-option label="1" value="Primer cuatrimestre"></el-option>
                    <el-option label="2" value="Segundo cuatrimestre"></el-option>
                </el-select>
            </el-form-item>


            <el-form-item label="Materia">
                <el-input type="text" v-model="formInline.materia"></el-input>
            </el-form-item>

            <el-form-item label="Cátedra">
                <el-input type="text" v-model="formInline.catedra"></el-input>
            </el-form-item>

            <el-form-item label="Condición">
                <el-select v-model="formInline.condicion" placeholder="Selecciona una opción">
                    <el-option label="Promoción directa" value="Promoción directa"></el-option>
                    <el-option label="Aprobada con final" value="Aprobada con final"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Nota">
                <el-input-number type="number" v-model="formInline.nota"></el-input-number>
            </el-form-item>
            <br>

            <el-form-item>
                <el-button type="primary" icon="el-icon-plus">Agregar materia</el-button>
            </el-form-item>

        </el-form>

        <pre>{{ $data }}</pre>
</section>